fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.32
psycopg2-binary==2.9.9
pydantic==2.7.4
pydantic-settings==2.3.4
python-multipart==0.0.9
GitPython==3.1.43
docker==7.1.0
celery==5.4.0
redis==5.0.3
xhtml2pdf==0.2.16
pytest==8.3.3
